header {
  display: flex;
  align-items: center;
  background-color: #ececec;
}
.logo {
  margin-left: 25px;
  font-family: cursive;
  font-size: x-large;
}

header h1 {
  text-align: left;
  margin-left: 25px;
  background-color: #ececec;
}

nav {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin-left: 10vw;
  background-color: #ececec;
}
.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link a:hover {
  color: green;
}

img {
  width: 300px; 
  height: 300px;
}

.products{
  /* display: flex;
  float: center;
  margin-left: 60px;
  width: 50%;
  padding: 10px;
  margin-right: 20px; 
  border: 2px solid black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bsellers{
 /* display: flex;
  float: center;
  margin-left: 80px;
  width: 50%;
  padding: 10px;
  margin-right: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ececec;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container p,a {
  margin-top: 30px;
}

.link-footer {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
