.navbar {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  margin-top: 5px;
  height: 10vh;
  margin:auto;
  background-color: #aa77c3;
}
.navbar a {
  color: #fff;
}

.navbar a:visited {
  color: #f696af;
}

.navbar a:active { 
  color: #6165c2; 
}        

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
