.button{
    margin-top: 15px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #F3E5F5;
    background-color: #6165C2;
    border-radius: 6px;
    border: 2px solid #5D58D7;
}

.App {
  font: bold 90% monospace; 
  color: #F3E5F5; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #AA77C3; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 55px 0px 55px 0px; 
  -moz-border-radius: 55px 0px 45px 0px; 
  -webkit-border-radius: 55px 0px 55px 0px; 
  border: 2px solid #5D58D7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
