.App {
  text-align: center;
  border-radius: 6px;
  border: 2px solid #ce93d8;
  background-color: #f3e5f5;
  margin: 0 auto;
  margin-top: 20px;
  padding: 3px 10px;
  width: 70%;
  padding-bottom: 20px;
}

.todo{
  justify-content: space-between;
  border-radius: 3px;
  display: flex;
  font-size: large;
  background-color: #e1bee7;
  margin: 5px auto 5px auto;
  padding: 3px 10px;
  width: 95%;
}

.items{
float: left;
margin-left: 20px;
padding-top: 8px;
}

.buttons{
float: right;
}

.button-one{
  padding: 5px;
  font-weight: 100;
  font-size: 20px;
  color: green;
  margin-right: 10px;
}
.button-two{
  padding: 5px;
  font-weight: 100;
  font-size: 20px;
  color: red;
  margin-right: 10px;
}
.submit{
  margin-bottom: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
